body {
    /*font-family: sans-serif;*/
    font-family: Roboto,sans-serif;
}
h1, h2, h3 {
    font-weight: 800;
    color: darkblue;
    text-shadow: 25px 15px 2px blue, -25px -15px 2px green;
}
p {
    text-align-last: justify;
    font-weight: 300;
}
.image
{
    border:solid,1px;
    text-align:center;
}
div>img{
   /* width:50%;
    height:auto;*/
   /*align-self:center;*/
}
figcaption
{
    font-style:italic;
}
.row-header, row-header:hover {
    background-color: white;
    color: black;
    width:300px;
    text-align:left;
}
.row-header:hover{
    font-weight:800;
}
/*div>table{

}
*/

table {
    border: solid 2px;
    border-spacing:0;
    border-radius:5px;
    align-self:center;
    margin:0 auto;
}
table:hover{
    box-shadow: -25px -15px 25px 25px grey;

}
th{
    border:solid,1px, black;
    padding-left:25px;
    padding-right:25px;
}
td {
    text-align: center;
    border: solid,1px, cornflowerblue;
}
td:hover{
    background-color:cadetblue;
    color:aliceblue;
}
tr:hover {
    background-color: deepskyblue;
    color: aliceblue;
    font-weight:800;
}
/*.small-header{
    background-color:cornflowerblue;
    color:white;
    width:100px;
    column-count:auto;
}*/
.header, .delimiter, .header:hover, .delimiter:hover {
    background-color: cornflowerblue;
    color: white;
    /*height:50px;*/
}
.header:hover, .delimiter:hover {
    box-shadow:inset 0px -5px 15px 0 green;

    }
.header{
    height:50px;
}
.delimiter{
    color:blueviolet;
}
.cite{
    text-align:right;
    margin-left:50px;
    font-weight:100;
}